body{
    background-color: antiquewhite;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

button{
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background-color: rgb(201, 189, 176);
    height: 40px;
    width: 120px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

.gallery {
    padding: 0rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.thumbnail {
    width: 250px;
}

.thumbnail img {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s;
}

.thumbnail img:hover {
    transform: scale(1.1);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
}

.lightbox .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
